/*
===================================
	Colour
===================================
*/

$color--primary:teal; //TODO: is temporary, make good later.
$color--primary-pressed: darken($color:$color--primary, $amount:5%);
$text--light: #222;
$text--light-secondary: #444;
$text--dark: white;
$text--dark-secondary:#ddd;
$background--dark:#223;
$background--dark-alt: #445;
$background--dark-pressed: #334;
$background--light: white;
$border--light: #eee;
$border--dark:#112;
/*
===================================
	Spacing
===================================
*/

$spacing-ratio:1.666;
$spacing--small: 8px;
$spacing--medium: $spacing--small * $spacing-ratio;
$spacing--large: $spacing--medium * $spacing-ratio;
$spacing--huge: $spacing--large * $spacing-ratio;
/*
===================================
	Typography
===================================
*/

$text--small: 10px;
$text--large:20px;
